﻿.accordionContent
{
	background-color: #D3DEEF;
	border-color: -moz-use-text-color #2F4F4F #2F4F4F;
	border-right: 1px dashed #2F4F4F;
	border-style: none dashed dashed;
	border-width: medium 1px 1px;
	padding: 10px 5px 5px;
	width: 95%;
	text-align: center;
	
}
.accordionHeaderSelected
{
	background-color: #5078B3;
	border: 1px solid #2F4F4F;
	color: white;
	cursor: pointer;
	font-family: Arial,Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
	width: 95%;
	text-align: center;
}
.accordionHeader
{
	background-color: #2E4D7B;
	border: 1px solid #2F4F4F;
	color: white;
	cursor: pointer;
	font-family: Arial,Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
	width: 95%;
	text-align: left;
}
.href
{
	color: White;
	font-weight: bold;
	text-decoration: none;
}
