#templatemo_header #site_title
{
	float: left;
	width: 300px;
	padding: 10px 0 0 0;
}

#templatemo_header #site_title h1
{
	margin: 0;
	padding: 0;
}

#templatemo_header #site_title h1 a
{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header #site_title h1 a span
{
	display: block;
	text-align: right;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 2px;
}

















/** 
 * Default Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera9+, Firefox2+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2009 Live Web Institute. All Rights Reserved.
 *
 */

/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 */

.navigation {
	float:left;
	width:940px;
	height:15px;
	 vertical-align:top;
	
	margin-top: 2px;
	border-radius:10px;
}
ul.dropdown {
 font-size:13px;
 float:left;
}

	ul.dropdown li {
	 padding: 11px 15px 8px 15px;
	 background-color: transparent;
	 color: #000000;
	}

	ul.dropdown li.last ul li {
	 float: right;
	}
	ul.dropdown li.hover a {
		color:#fff;
	}
	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 border-radius:5px;
	 background-color:#46b1e1;
	 color:#FFF;
	}
	ul.dropdown li:hover a{
	 color:#FFF !important;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #000; text-decoration: none; 
	 background-repeat:no-repeat;
	 background-position:right; }
	ul.dropdown a:hover		{ color: #fff !important; }
	ul.dropdown a:active	{ color: #fff !important;  background-color:#46b1e1; }
     ul.dropdown a.active	{ color: #fff !important;  background-color:#46b1e1; }

	/* -- level mark -- */


		ul.dropdown  li {
	
		 background-repeat:no-repeat;
		 background-position:right;
		}
		ul.dropdown ul li {
		 background-image:none;
		}
		ul.dropdown li a
{
	font-family:Sans-Serif;
	color: #FFFFFF;
	font-weight: bold;
	
}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 margin-top: 5px;
		 text-transform: none;
		}

			ul.dropdown ul- ul li {
			 font-weight: normal;
			}


/*-------------------------------------------------/
 * @section		Support Class `dir`
 */


ul.dropdown *.dir {

}

ul.dropdown ul *.dir {

}


/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown li a {
 display: block;
 padding: 9px 15px 10px 15px;
}


/*-------------------------------------------------/
 * @section		Base Style Override
 */

ul.dropdown li {
 padding: 0;
}


/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */

ul.dropdown li.dir:hover {

}

ul.dropdown ul li.dir {
 padding: 0px;
 border-right:#244664 solid 1px;
 width:160px;
}
ul.dropdown ul li.dir ul li a{
 background-image:none;
}
ul.dropdown ul li.dir ul{
 padding: 0px 5px;
}

/*-------------------------------------------------/
 * @section		Custom
 */
ul.dropdown h6{
 color:#fff;
 padding:5px 10px 0px 10px;
 background-color:#103255;
 height:19px;
}
ul.dropdown ul {
 padding: 10px 0px;
 font-size: 12px;
 letter-spacing: normal;
 float:left;

 background-color:#46b1e1;
}

ul.dropdown ul a {
 width: 130px;
 padding: 3px 5px 3px 15px;
 font-style:normal;
 font-weight:normal;
 border-bottom:#bababa dotted 1px;
 background-image:url(../images/dropdown_arow.gif) !important;
 background-position:left center !important;
 background-repeat:no-repeat;
}

ul.dropdown ul a:hover {
 background-color: #103255;
 color: #fff;
}

ul.dropdown ul ul {
 padding: 0;
 margin-left: 0px;
 background:none;
}
ul.dropdown ul li:hover {
 background:none;
}






















ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 vertical-align: middle;

}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 1;
 margin-left:0px;
 z-index: 598;
 width: auto;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

ul.dropdown-linear {
 width: 930px;
}

ul.dropdown-linear ul li {
 float: left;
}

ul.dropdown-linear li.hover,
ul.dropdown-linear li:hover {
 position: static;
}

ul.dropdown-linear ul ul {
 display: none !important;
}


ul.dropdown-columnar ul li {
 position: static;
 width: 150px;
}

ul.dropdown-columnar ul ul {
 display: block !important;
 position: static;
 width: auto !important;
}

ul.dropdown-columnar ul ul li {
 float: none;
}

ul.dropdown-columnar ul ul ul {
 display: none;
}

ul.dropdown-columnar li.hover ul,
ul.dropdown-columnar li:hover ul {
 visibility: visible !important;
}

.pad {
	padding:10px !important;
}