﻿p#socialicons img
{
	/* 1st set of icons. Rotate them 360deg onmouseover and out */
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
p#socialicons img:hover
{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

p#socialicons a
{
	text-decoration: none;
}










.txtbox1
{
	width: 400px;
	border: 1px solid #d4d4d4;
	padding: 5px 2px;

	background: #fff;
	float: left;
}

.contactusBox
{
	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	-webkit-transition: box-shadow 0.5s;
	border-radius: 15px;
	padding: 5px 10px;
}


.shareBox
{

	
	
	box-shadow: 0px 2px 1px white , 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	-webkit-transition: box-shadow 0.5s;
	border-radius: 15px;
	padding: 5px 10px;
	border-style:groove;

}



a.button
{
	background: #ECECEC;
	border-radius: 15px;
	padding: 5px 10px;
	font-family: arial;
	color: #7f7f7f;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
	border: 1px solid #a7a7a7;
	width: 145px;
	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	-webkit-transition: box-shadow 0.5s;
}
a.button i
{
	float: right;
	margin-top: 2px;
}
a.button:hover
{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
	background: -webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
a.button:active
{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
	background: -webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
