﻿

/* Lock Screen-related CSS Classes */
.LockOff
{
	visibility: hidden;
	display: none;
	position: absolute;
	top: -100px;
	left: -100px;
}
.LockBackground
{
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: visible;
	display: block;
	width: 105%;
	height: 105%;
	background-color: #666;
	z-index: 999;
	filter: alpha(opacity=75);
	opacity: 0.75;
	padding-top: 20%;
}
.LockPane
{
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 25%;
	visibility: visible;
	display: block;
	text-align: center;
	border-radius: 10px;
	width: 100%;
}
.LockPane div
{
	border-radius: 10px;
	background-color: #FFFFFF;
	color: #000000;
	font-size: large;
	border: dotted 1px White;
	padding: 9px;
	margin-left: auto;
	margin-right: auto;
	width: 5%;
	text-align: center;
}


.StatusMessage
{
	color: Red;
	font-size: 2.0em;
	font-weight: bold;
}






















/*gridview */

.gridview
{
	width: 100%; /*background-image: url(../images/botm.gif);*/
	border: solid 1px #525252;
	border-collapse: collapse;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 0px;
	background-color: #87CEFA;
}
.gridview td
{
	padding: 2px;
	border: solid 1px #c1c1c1;
	color: #FFFFFF;
}
.gridview th
{
	padding: 4px 2px;
	color: #000000;
	background: #666 url(../images/breadcrumb_bg.gif) repeat-x top;
	border-left: solid 1px #525252;
	font-size: 0.9em;
}

.gridview .pgr
{
	background: #424242 url(grd_pgr.png) repeat-x top;
}
.gridview .pgr table
{
	margin: 5px 0;
}
.gridview .pgr td
{
	border-width: 0;
	padding: 0 6px;
	border-left: solid 1px #666;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 12px;
}
.gridview .pgr a
{
	color: #666;
	text-decoration: none;
}
.gridview .pgr a:hover
{
	color: #000;
	text-decoration: none;
}
.gridview .header
{
	color: #FFFFFF;
}
/* end here */




























.txtbox
{
	
	
	padding: 0px 2px 0px 2px;
	height: 20px;
}

.myLabel1
{
	font-size: medium;
	color: #808080;
	font-family: 'Times New Roman' , Times, serif;
}

.myLabel22
{
	font-size: large;
	color: #000000;
	font-family: 'Times New Roman' , Times, serif;
}

.myLabel
{
	font-size: medium;
	color: #000000;
	font-family: 'Times New Roman' , Times, serif;
}

.myLabelHead
{
	font-size: medium;
	color: #808080;
	font-family: 'Times New Roman' , Times, serif;
	font-weight: bold;
}



input.simplebtn
{
	padding: 0px 10px 2px 10px;
	border: #143857 solid 1px;
	color: #fff;
	cursor: pointer;
	
	background-color: #46b1e1;
	display: inline-block;
	height: 25px;
}
input.simplebtn:hover
{
	color: #fff;
	background-color: #143857;
	background-image: none;
}









.Container111
{
	margin: auto;
	min-height: 400px;
	background: #ffffff;
	max-width: 500px;
	min-width: 500px;
	border: solid 1px #d4d4d4;
	padding: 0 20px 20px 20px;
}

.ToolBar
{
	border: solid 1px #d4d4d4;
	padding: 10px;
	margin-bottom: 20px;
}

.GridContainer
{
	background: #ECF5FB;
	min-height: 300px;
	border: solid 1px #d4d4d4;
}


.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
	z-index: 9999;
}

.popup_Container
{
	border: 2px solid #000000;
	padding: 0px 0px 0px 0px; /*background-image: url(../images/bg.gif);*/
	background-color: #87CEFA;
}

.popupConfirmation
{
	width: auto;
	height: auto; /*width: 700px; 	height: 500px;*/
}

.popup_Titlebar
{
	background: url(/images/titlebar_bg.jpg);
	height: 29px;
}

.popup_Body
{
	padding: 15px 15px 15px 15px;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	line-height: 15pt;
	clear: both;
	padding: 20px;
}

.TitlebarLeft
{
	float: left;
	padding-left: 5px;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}
.TitlebarRight
{
	background: url(Images/cross_icon_normal.png);
	background-position: right;
	background-repeat: no-repeat;
	height: 15px;
	width: 16px;
	float: right;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 5px;
}

.popup_Buttons
{
	margin: 10px;
}
