﻿


/*roll over image*/

.rollover_img
{
	width: 200px;
	height: 200px;
	background-position: top;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 5px solid #ccc;
	font: 13px normal Arial, Helvetica, sans-serif;
	line-height: 18px;
	float: left;
	margin: 0 10px 10px 0;
	background-repeat: no-repeat;
	background-color: Black;
}

.rollover_img a
{
	color: #fff;
	width: 200px;
	height: 200px;
	display: block;
	text-decoration: none;
}

.rollover_img a:hover
{
	background-color: black;
	opacity: .50;
	filter: alpha(opacity=50);
}

.rollover_img a span
{
	display: none;
	width: 200px;
	padding: 5px;
	color: White;
}

.rollover_img a:hover span
{
	display: block;
	color: White;
}






/*roll over image end */

