﻿
.panel123
{
	position: absolute;
	top: 130px;
	right: 0;
	display: none;
	background: #000000;
	border: 1px solid #111111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	width: 200px;
	max-height: 400px;
	padding: 5px 5px 5px 5px;
	min-height: 200px;
	vertical-align: middle;
}

.panel123 p
{
	margin: 0 0 15px 0;
	padding: 0;
	color: #cccccc;
}

.panel123 a, .panel123 a:visited
{
	margin: 0;
	padding: 0;
	color: #9FC54E;
	text-decoration: none;
	border-bottom: 1px solid #9FC54E;
}

.panel123 a:hover, .panel123 a:visited:hover
{
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

a.trigger
{
	z-index: 999;
	position: absolute;
	text-decoration: none;
	top: 110px;
	right: 0px;
	font-size: 12px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 10px 15px 10px 40px;
	font-weight: 700;
	background: #333333 url(/images/plus.png) 15% 55% no-repeat;
	border: 1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

a.trigger:hover
{
	position: absolute;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 10px 15px 10px 40px;
	font-weight: 700;
	background: #222222 url(/images/plus.png) 15% 55% no-repeat;
	border: 1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	display: block;
}

a.active.trigger
{
	background: #222222 url(/images/minus.png) 15% 55% no-repeat;
}
