/*
    anythingSlider v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

.anythingSlider                         { width: 940px; height: 330px; position: relative; }
.anythingSlider .wrapper                { width: 940px; overflow: auto; height: 330px; position: absolute; top: 0; left: 0; }
.anythingSlider .wrapper ul             { width: 9999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSlider ul li                   { display: block; float: left; padding: 0; height: 330px; width: 940px; margin: 0; }
.anythingSlider .arrow                  { display: block; height: 14px; width: 14px; text-indent: -9999px; position: absolute; cursor: pointer; margin-top:294px; z-index:9; }
.anythingSlider .forward                { background-image:url(../images/next.html); background-repeat:no-repeat; width:14px; height:14px; margin-left:905px; }
.anythingSlider .back                   { background-image:url(../images/prev.html); background-repeat:no-repeat; width:14px; height:14px;  margin-left:880px; }

#thumbNav                               { position: relative; top: 323px; text-align: center; }
#thumbNav a                             {  text-align: center; }
#thumbNav a:hover                       {  }
#thumbNav a.cur                         {  }

#start-stop                             { background: green; background-image: url(../images/cellshade.html); background-repeat: repeat-x; color: white; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; top: 323px;}
#start-stop.playing                     { background-color: red; }
#start-stop:hover                       { background-image: none; }

/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }
.bg_sc 									{ width:60px; height:24px; background-image:url(../images/paging_bg.html); background-repeat:no-repeat; position:absolute; margin-top:-40px; margin-left:870px; z-index:7;}




.rotating_banner .anythingSlider                         { width: 940px; height: 331px; position: relative; }
.rotating_banner .anythingSlider .wrapper                { width: 940px; overflow: auto; height: 331px; position: absolute; top: 0; left: 0; }
.rotating_banner .anythingSlider .wrapper ul             { width: 9999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.rotating_banner .anythingSlider ul li                   { display: block; float: left; padding: 0; height: 331px; width: 940px; margin: 0; }
.rotating_banner .anythingSlider .arrow                  { display: block; height: 14px; width: 14px; text-indent: -9999px; position: absolute; cursor: pointer; margin-top:285px; z-index:9; }
.rotating_banner .anythingSlider .forward                { background-image:url(../images/prev1.gif); background-repeat:no-repeat; width:17px; height:17px;  margin-left:20px; }
.rotating_banner .anythingSlider .back                   { background-image:url(../images/next1.gif); background-repeat:no-repeat; width:17px; height:17px; margin-left:40px;}

.rotating_banner #thumbNav                               { position: relative; top: 216px; margin-top:60px; margin-right:10px; background-image:url(../images/paging_bg.gif); background-repeat:no-repeat; background-position:right; float:left; height:26px; padding:9px 20px 0px 70px;}
.rotating_banner #thumbNav a                             { color: black; font-size:11px; display: inline-block; height: 15px; width:15px; margin: 0 15px 0 0;  text-align: center; border:transparent solid 1px; }
.rotating_banner #thumbNav a:hover                       { background-color:#d7d7d7; border:#5d5d5d solid 1px; }
.rotating_banner #thumbNav a.cur                         { background-color:#d7d7d7; border:#5d5d5d solid 1px; }

.rotating_banner #start-stop                             { background: green; background-image: url(../images/cellshade.html); background-repeat: repeat-x; color: white; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; top: 323px; display:none; }
.rotating_banner #start-stop.playing                     { background-color: red; }
.rotating_banner #start-stop:hover                       { background-image: none; }