


#page {
	width: 500px;
	margin: 0 auto;
	background-color: #FFF;
	margin-bottom: 50px;
}

h1, h2 {
	font-family: 'IM Fell DW Pica SC', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 35px;

}
.highlight {
	font-size: 50px;
	color: #0099ff;
}
h1, h2 {
	color: #333;
	text-align: center;	
}
h2{
	text-align: right;
	padding: 10px 0px;
}

.bar {
	background-color: #111;
	color: #f0f0f0;
	box-shadow: 0px 0px 2px #333;
	line-height: 25px;
	padding: 0px 20px;
}
.bar a {
	color: #DDD;
}
.bar a:hover {
	color: #FFFFFF;
}

.ticker {
	width: 300px;
	height: 300px;
	overflow: hidden;

	margin: 0;
	padding: 0;
	list-style: none;
	
}

#ticker_02 {
	height: 120px;
}

.ticker li {
	height: 300px;
	border-bottom: 1px dotted #DDD;
	padding: 5px;
	margin: 0px 5px;
}

#ticker_04 {
	height: 150px;
}
#ticker_04 li {
	height: 40px;
	overflow: hidden;
} 
#ticker_04 img {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 10px;
} 

#example_4 { display: none;}
