﻿<%@ Page Language="C#" MasterPageFile="~/userMaster.Master" AutoEventWireup="true"
    CodeBehind="ccavCancel.aspx.cs" Inherits="OnlineExam.ccavCancel" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="text-align: center; font-size: 20px; padding: 10px;">
        <asp:Label ID="lblMsg" runat="server" Text="You have canceled the payment process!!!<br><br> You will be redirected to Test Lists!!!"></asp:Label>
    </div>
    <br />
    <br />
</asp:Content>
