﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Messages1.ascx.cs" Inherits="Drona_Store_Module.Message" %>
<link href="Stylesheet1.css" rel="stylesheet" type="text/css" />
<asp:Panel ID="mypanel" runat="server" Visible="true">
    <asp:Label ID="message1" runat="server"> Welcome to Asp.net</asp:Label>
    <asp:Image ID="errorimage" Width="20px" Height="20px" runat="server" AlternateText="i"
        ImageAlign="Top" />
</asp:Panel>
