﻿body {
}
.myMessages
{
	margin: auto;
	border: 2px dotted #663300;
	padding: 5px;
	font-family: Arial;
	text-align: center;
	background-color: #C6EE73;
	text-decoration: blink;
	text-transform: capitalize;
	list-style-type: circle;
	overflow: auto;
}
.myError
{
	margin: auto;
	border: 2px dotted #FF0000;
	padding: 5px;
	font-family: Arial;
	text-align: center;
	background-color: #FFFF66;
	text-decoration: blink;
	text-transform: capitalize;
	list-style-type: circle;
	overflow: auto;
}
