﻿<%@ Page Language="C#" MasterPageFile="~/userMaster.Master" AutoEventWireup="true"
    CodeBehind="thankYou.aspx.cs" Inherits="OnlineExam.thankYou" Title="Untitled Page" %>

<%@ Register Src="Messages1.ascx" TagName="Messages1" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <script type="text/javascript" language="javascript">
  function openNewWindow()
        {      
        window.open("Exam.aspx", "Exam", "location=1, width=auto, height=auto");
        }
    </script>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="DivToHide">
        <uc1:Messages1 ID="messages11" runat="server" />
    </div>
    <div>
        <asp:Label ID="lblMsg" runat="server" Text=""></asp:Label>
    </div>
</asp:Content>
