@font-face{font-family:'open_sansextrabold';src:url('OpenSans-ExtraBold-webfont.eot');src:url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans-ExtraBold-webfont.woff') format('woff'),
url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
url('OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_sanslight';src:url('OpenSans-Light-webfont.eot');src:url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans-Light-webfont.woff') format('woff'),
url('OpenSans-Light-webfont.ttf') format('truetype'),
url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_sansregular';src:url('OpenSans-Regular-webfont.eot');src:url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans-Regular-webfont.woff') format('woff'),
url('OpenSans-Regular-webfont.ttf') format('truetype'),
url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_sanssemibold';src:url('OpenSans-Semibold-webfont.eot');src:url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans-Semibold-webfont.woff') format('woff'),
url('OpenSans-Semibold-webfont.ttf') format('truetype'),
url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_sansbold';src:url('OpenSans-Bold-webfont.eot');src:url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans-Bold-webfont.woff') format('woff'),
url('OpenSans-Bold-webfont.ttf') format('truetype'),
url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');font-weight:normal;font-style:normal;}